.avatar {
    width: 40px;
    height: 40px;
}

.toolbar {
    justify-content: space-between;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: smaller;
}

.divider {
    width: 20px;
}

.container {
    height: calc(100vh - 100px);
    width: calc(100vw - 15px);
    overflow: auto;
}

td {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
}

tr.highlight td {
    background: #cecece;
}