<div style="position: fixed; top: 0; width: 100%">
    <mat-toolbar *ngIf="loggedIn" class="toolbar">
        <mat-form-field>
            <mat-select [(value)]="filterStatus" (selectionChange)="reFilterMembers()">
                <mat-option [value]="CheckInStatus.Activated">已激活</mat-option>
                <mat-option [value]="CheckInStatus.InActivated">未激活</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <select [(ngModel)]="checkInType" (change)="refresh()">
            <option value="0">上班打卡</option>
            <option value="1">下班打卡</option>
        </select> -->
        <button mat-raised-button color="primary" (click)="refresh()">刷新</button>
    </mat-toolbar>
</div>
<div *ngIf="!loggedIn">
    <div *ngIf="needLogin">
        <p>Need Login</p>
        <form #appForm="ngForm" class="viewer-body" (ngSubmit)="login()">
            <mat-form-field class="full-width">
                <input name="username" type="text" matInput placeholder="username" [(ngModel)]="username">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input name="password" type="password" matInput placeholder="password" [(ngModel)]="password">
            </mat-form-field>
            <button type="submit" mat-raised-button>Login</button>
        </form>
    </div>
    <div *ngIf="!!checkInModel">
        <p>
            用户[{{checkInModel?.nickName}}]正在打卡中...
        </p>
    </div>
</div>

<div *ngIf="filteredMembers && filteredMembers.length" style="position: absolute; width: 100%; top: 80px;">
    <div class="mat-elevation-z8 container">
        <table mat-table [dataSource]="filteredMembers">
            <!-- wechatId Column -->
            <ng-container matColumnDef="wechatId">
                <th mat-header-cell *matHeaderCellDef> 微信号. </th>
                <td mat-cell *matCellDef="let element"> {{element.wechatId}} </td>
            </ng-container>

            <!-- nickName Column -->
            <ng-container matColumnDef="nickName">
                <th mat-header-cell *matHeaderCellDef> 昵称. </th>
                <td mat-cell *matCellDef="let element"> {{element.nickName}} </td>
            </ng-container>

            <!-- contactName Column -->
            <ng-container matColumnDef="contactName">
                <th mat-header-cell *matHeaderCellDef> 姓名 </th>
                <td mat-cell *matCellDef="let element"> {{element.contactName}} </td>
            </ng-container>

            <!-- avatarUrl Column -->
            <ng-container matColumnDef="avatarUrl">
                <th mat-header-cell *matHeaderCellDef> 头像 </th>
                <td mat-cell *matCellDef="let element"> <img *ngIf="element.avatarUrl" class="avatar"
                        [src]="element.avatarUrl" alt="avatar">
                </td>
            </ng-container>

            <!-- telephone Column -->
            <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef> 电话 </th>
                <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
            </ng-container>

            <!-- locationId Column -->
            <ng-container matColumnDef="locationId">
                <th mat-header-cell *matHeaderCellDef> 地址 </th>
                <td mat-cell *matCellDef="let element"> {{element.locationId | describeLocation : locations}} </td>
            </ng-container>

            <!-- status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> 状态 </th>
                <td mat-cell *matCellDef="let element"> {{element.status | describeStatus}} </td>
            </ng-container>

            <!-- createdAt Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> 注册日期 </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date }} </td>
            </ng-container>

            <!-- faceList Column -->
            <ng-container matColumnDef="faceList">
                <th mat-header-cell *matHeaderCellDef> 脸照 </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngFor="let face of element.faceList">
                        <img class="face" *ngIf="!!face" [src]="getFaceUrl(face)" />
                    </ng-container>
                </td>
            </ng-container>

            <!-- operation Column -->
            <ng-container matColumnDef="operation">
                <th mat-header-cell *matHeaderCellDef> 操作 </th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="!loggedIn" mat-raised-button (click)="bindUser(element)">绑定为该用户</button>
                    <button *ngIf="!loggedIn && isAvailable(element)" mat-raised-button
                        (click)="checkFace(element)">打脸</button>
                    <a (click)="openDialog($event, element.internalOpenId)" href="javascript:void()">Detail</a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [class.highlight]="row?.openId && row?.openId === checkInModel?.openId"></tr>
        </table>

    </div>
</div>