
iframe {
    z-index: 100000;
    position: absolute;
    /* background: white; */
    width: 480px;
    height: 98vh;
    margin: auto;
    left: calc(50vw - 240px);
    overflow-y: hidden;
    border: none;
    background: white;
    scrollbar-color: transparent;
}

iframe html {
    scrollbar-color: transparent;
}